.main-fluid-container {
  margin-right: 10.5px;
  margin-left: 10.5px;
  background-image: url();
}

.div-container {
  margin-right: 6%;
  margin-left: 6%;
}

/* For top heading */
.head-text-div {
  margin-top: 60px;
  margin-bottom: 8px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 42px;
  font-weight: 600;
}

/* For bottom like more button */
.bottommost-div {
  margin-bottom: 70px;
}

.more-btn {
  width: 13%;
  font-size: large;
  padding: 12px 24px 12px 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.view-more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.view-more-link:hover {
  color: white;
}
