@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:3px solid blue; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  transition: all 0.3s;
  font-weight:700;
}
#Ci{
  margin-top:2%;
}
@media(max-width:1000px) {
  #Ci{
  margin-bottom:10%;
  }
}
#Cj{
  margin-top:3%;
}
