.continue-shopping-btn:hover {
  transform: scale(0.9);
}

.continue-shopping-btn {
  width: 100%;
  background-color: #50c878;
  font-size: "1.2rem";
  border-radius: "20px";
  transition: transform 0.1s ease-out;
}
@media screen and (min-width: 768px) {
  .continue-shopping-btn {
    width: 200px;
  }
}
