.landing-container {
  width: 100vw;
  display: flex;
  background-color: #faf5d8;
  justify-content: center;
  margin-bottom: 50px;
}
.landing-wrapper {
  background-image: url("../image/bg.jpg");
  background-size: cover;
  display: flex;
  border-radius: 20px;
  width: 85vw;
  height: 80vh;
}
