.land-root {
  height: 115vh;
  margin-top: -8rem;
  width: 100vw;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./bg.png");
  background-position: center;
  background-size: cover;
}

.nameTemp{
  font-size: 1.35rem;
  width: 50%;
  margin: -10rem 0rem;
  padding: 0rem 2rem;
  font-family: monospace;
}

@media screen and (max-width: 768px) {
  .land-root {
    height: 50vh;
    font-size: small;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  .nameTemp{
    font-size: 1.2rem;
    /* width: 100%; */
    margin:3rem 0rem;
    padding: 0rem 0.5rem;
    font-family: monospace;
  }
}
