.product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-images {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.product-images img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.product-images img.active {
  box-shadow: 0px 0px 10px #000000;
}

.product-details {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex: 1;
}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 10px;
}

.product-details button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-img {
  align-self: flex-start;
  box-shadow: 0px 0px 20px #000000;
  width: 70vw;
  height: 80vh;
}

.wrapper {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.bt-addto-cart {
  width: 150px;
}
