.home-product-card .card {
  border: none;
  width: 200px;
  height: 300px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
}
.home-product-card .card-body {
  color: black;
  background: white;
}
.home-product-card .card-title {
  font-size: 26px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.home-product-card .price {
  font-size: 18px;
  font-weight: 900;
  transition: 0.6s;
}

.home-product-card .input-quantity {
  margin: 0;
}

/* My own Css */
.home-product-card .product-card {
  width: 200px;
  border: 0.2px solid #faf9f6;
  padding: 0;
  width: 100%;
}
.home-product-card .product-card:hover {
  transform: scale(1.1);
  border: 4px solid #90ee90;
}

.home-product-card .card-title-div {
  padding: 0;
}

.home-product-card .card-content-div {
  margin-bottom: 26px;
}

.home-product-card .footer-btn {
  border-spacing: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.home-product-card .buy-left-btn {
  margin-right: 8px;
}

.home-product-card .buy-right-btn {
  padding-top: 3px;
  font-size: 18px;
  margin-left: 8px;
}

.home-product-card .input-group-btn {
  margin-top: -2.2px;
  margin-bottom: -0.5px;
}

.home-product-card .input-number {
  border-width: 0;
}
