* {
    box-sizing: border-box;
    transition: all 0.2s;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  section {
    text-align: center;
    padding: 2.5rem 0.5rem;
  }
  section span {
    background: #00a7f9;
    color: #fff;
    padding: 0.25rem;
    font-weight: 700;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
    padding: 2rem 0.5rem;
  }
  
  article {
    text-align: center;
    width: 150px;
    margin: 10px;
    border: 1px solid rgba(200, 200, 200, 0.2);
    color: #ccc;
    padding: 0.33rem 0.125rem;
  }
  
  article i {
    font-size: 50px;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 1px rgba(100, 100, 100, 0.4);
  }
  
  nav i.ion-ios-pulse {
    font-size: 50px;
    padding: 0.5rem;
    display: inline-block;
    vertical-align: middle;
  }
  nav i.ion-navicon {
    font-size: 40px;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 50%;
  }
  
  nav i.ion-navicon:hover {
    background: #00a7f9;
    color: #fff;
  }
  
  nav ul {
    border: 1px solid rgba(100, 100, 100, 0.3);
    padding: 0.333rem 0.75rem;
    font-size: 0.75rem;
    position: absolute;
    top: 65px;
    right: 10px;
    width: 175px;
    background: rgba(235, 235, 235, 0.9);
    z-index: 100;
  }
  
  nav ul.menu-active {
    right: 10px;
  }
  
  nav ul.menu-inactive {
    right: -185px;
  }
  
  nav li {
    padding: 0.333rem 0;
  }
  
  header {
    position: relative;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: #fff;
  
    justify-content: center;
  }
  
  header div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.8);
  }
  
  header i {
    font-size: 20px;
    padding: 0.33rem;
    margin: 0.1rem;
    color: #cfd8dc;
  }
  
  h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    font-size: 2rem;
    width: 100%;
  }
  