.logo{

}

.navRoot{
    padding: 1rem;
    height: 10vh;
    width: 97vw;
    justify-content: space-between;
}

img{
    height: 100%;
    width: 100%;
}

.fd{
    display: flex;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

ul{
    width: 50%;
    height:100%;
    list-style-type: none;
}

.lhj{
    justify-content: space-evenly;
}

a{
    height: 100%;
    width: 15%;
}